// Estilos para header
.header
  height: 80vh;
  position: relative;

.header__mobileMenu
  mixin-container(margin-left-right)
  position: fixed;
  width: 92%;
  height: 40px;
  z-index: 10
  background-color: transparent
.header_mobileMenu__position
  width: 100%
  height: inherit;
  mixin-display-flex-menu(space-between, center)
  font-size: mediun-font-size
.icon-menu
  font-size: xd-font-size

.header__fondo
  height: 80vh;
  width: 100%
  position: absolute;
  z-index: 0
  background-image: url(../images/portada.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .6

.header__logo
  position: absolute;
  width: 180px
  height: altoLogo
  margin: 50px calc(50% - 180px / 2) 10px
  z-index:1
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;

.header__mensaje
  position: absolute;
  width: 290px
  margin: 0 calc(50% - 290px / 2)
  top: 180px
  z-index: 2
  text-align: center;
  font-family: fuente-numero-7
  font-size: xd-font-size
  color: color-claro
  text-shadow: 1px 1px 10px color-oscuro

.header__desplegable
  width: 280px
  height: 550px
  position: absolute;
  top: 0
  right: 110%
  transition: all 3s;
  z-index: 20
  background: rgb(150, 150, 150)
  box-shadow: 5px 0 10px color-oscuro
  overflow: scroll;
.header__desplegable__volver
  height: 60px
  mixin-container(margin-left-right)
  mixin-display-flex-menu(flex-end, center)
  font-size: xd-font-size
.icon-close
  color: color-claro
  text-shadow: 1px 1px 3px color-oscuro
.header__desplegable__logo
  height: 120px
  mixin-display-flex-center(center)
  mixin-container(margin-left-right)
.header__desplegable__options
  height: 250px
  mixin-container(margin-left-right)
.header__desplegable--boton1
  height: 40px
  margin: 25px 50px
  line-height: 40px
  text-align: center;
  font-size: mediun-font-size
.header__desplegable--boton1 a
  color: color-claro
  font-family: fuente-numero-8
  text-shadow: 0 0 3px color-oscuro
.header__desplegable--boton2
  border-radius: 7px
  background-color: rgb(46, 116, 167)
  box-shadow: 1px 1px 3px color-oscuro
.header__desplegable__socialMedia
  height: 80px
  mixin-display-flex-center(center)
  mixin-container(margin-left-right)
[class^="header__desplegable__socialMedia__"]
  height: 40px
  width: 40px
  margin: 5px
  mixin-display-flex-center(center)
  border-radius: 50%
  font-size: xd-font-size
  background-color: color-claro
  color: rgb(150, 150, 150)
  box-shadow: 1px 1px 3px color-oscuro

.servicios
  // border: 1px solid red
  display: block;
  height: 400px

.servicios__head
  // border: 1px solid yellow
  height: 80px
  mixin-container(margin-left-right)
  text-align: center;
  line-height: 80px
  font-size: mediun-font-size
  font-family: fuente-numero-9

.servicios__sliders
  // border: 1px solid blue
  height: 400px - 80px
  mixin-container(margin-left-right)
  position: relative;
.miSlide
  position: relative;
  width: 100%
  height: inherit;
  text-align: center;

.miSlide img{
  width: 220px
  height: 220px
  margin: 30px auto;
  mixin-display-flex-center(center)
  object-fit: cover;
  transition: 2s;
}
.direcciones{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  mixin-display-flex-menu(space-between, center)
  font-size: 20px;
}

.direcciones a{
  border: 1px solid black
  width: 25px
  height: 25px
  border-radius: 50%
  mixin-display-flex-center(center)
  color: #fff;
  text-decoration: none;
  font-size: .5em
}
.direcciones a:hover{
  background: rgba(0, 0, 0, .5);
  transition: .5s;
}

.barras{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom:15px;
}
.barra{
  cursor: pointer;
  height:2px;
  width: 25px;
  margin: 0 2px;
  background: #dcdde1;
  display: inline-block;
  margin-left: 3px;
}
.active{
  background-color: #e74c3c;
}

.fade{
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4;}
  to{opacity:1;}
}
