// Colores que se manejaran en el website
color-primario = rgb(39, 236, 195);
color-secundario = rgb(39, 236, 195);
color-terceario = rgb(39, 236, 195);
// Colores para la tipografia
color-claro = rgb(255, 255, 255);
color-oscuro = rgb(0, 0, 0);
// Tamaños de tipografia
small-font-size = 16em;
