-var lema = "Aporta al mundo con soluciones, dale la oportunidad a las energias renovables."
-var menu = ["INICIO", "QUIENES SOMOS", "SERVICIOS", "CONTÁCTO" ]
-var lenguage = ["SPA", "ENG"]

//- if lenguage[0] = "SPA"
//- 
//- else

  
//- mixin caja(imagen, titulo, contenido)
//-   .caja
//-     .caja__imagen: img(src="images/"+imagen)
//-     .caja__contenido
//-       h3= titulo
//-       p= contenido
