section.servicios
  div.servicios__head
    h3 Nuestros Servicios 
  div.servicios__sliders
    div.miSlide.fade
      img(src="./images/image.jpg" alt="imagesnes de servicios")
      h3  Servicio Uno
    div.miSlide.fade
      img(src="./images/image.jpg" alt="imagesnes de servicios")
      h3  Servicio Dos
    div.miSlide.fade
      img(src="./images/image.jpg" alt="imagesnes de servicios")
      h3  Servicio Tres
    div.direcciones
      a(href="#" class="atras" onclick="avanzaSlide(-1)") &#10094;  
      a(href="#" class="atras" onclick="avanzaSlide(-1)") &#10095;
    div.barras
      span(class="barra active" onclick="posicionSlide(1)")      
      span(class="barra active" onclick="posicionSlide(1)")      
      span(class="barra active" onclick="posicionSlide(1)")
