footer.footer
  div.footer__contacto
    div.footer__contacto__telefono
      p 
        span.icon-call 3112681981
    div.footer__contacto__ubicacion
      p 
        span.icon-location Carrera 138#17D-65
    div.footer__contacto__correo
      p 
        span.icon-mail reweoptim@gmail.com
  div.footer__aliados
    div.footer__aliados__ferresolda
    div.footer__aliados__upme
    div.footer__aliados__socialMedia
      div.footer__contacto__facebook  
      div.footer__contacto__instagram
      div.footer__contacto__youtube
  div.footer__map
  
